@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<p role="status">Singleton count: @singleton?.Value</p>
<p role="status">Transient count: @transient?.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<input type="number" @bind="currentCount" />

<div>
    <h3>Movie</h3>  
    <MoviesList Movies="movies">
       @* <NullTemplate>
            <span style="color: red">This is a schtrumpf ...</span>
        </NullTemplate>*@
    </MoviesList>
</div>
