@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<input type="number" @bind="currentCount" />

<div>
    <h3>Movie</h3>  
    <MoviesList Movies="movies">
       @* <NullTemplate>
            <span style="color: red">This is a schtrumpf ...</span>
        </NullTemplate>*@
    </MoviesList>
</div>

@code {
    private List<Movie>? movies;

    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(TimeSpan.FromSeconds(3));
        movies = new();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
