@page "/"
@page "/index"
@using BlazorMovies.Client.Helpers;
@inject IRepository repository

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies" />
</div>

<CustomTypeahead SearchMethod="SearchMethod" Context="testString">
    <ResultTemplate>
        @testString
    </ResultTemplate>
    <NotFoundTemplate>
        ❓
    </NotFoundTemplate>
</CustomTypeahead>

@code {
    private List<Movie>? movies = new();

    protected override void OnInitialized()
    {
        movies = repository.GetMovies();
    }

    private async Task<IEnumerable<string>> SearchMethod(string searchText) {
        await Task.Delay(TimeSpan.FromSeconds(1));

        if ( searchText == "test") {
            return Enumerable.Empty<string>();
        }
        
        return new List<string>() { "Felipe", "Gavilanche" };
    }

} 