@page "/"
@using BlazorMovies.Client.Helpers;
@inject IRepository repository

<div>
    <h3>Movie</h3>
    <MoviesList @ref="moviesList" Movies="movies">
        <NullTemplate>
            <span style="color: red">This is loading ...</span>
        </NullTemplate>
        <EmptyTemplate>
            <span style="color: blue">No Record to see ...</span>
        </EmptyTemplate>
    </MoviesList>
</div>

@code {
    private MoviesList? moviesList;
    private List<Movie>? movies = new();

    private Dictionary<string, object> dummyTextboxParameter = new()
    {
        {"placeholder", "new movie from var"},
        {"disabled", "true"},
    };

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(TimeSpan.FromSeconds(3));

        movies = repository.GetMovies();

        await moviesList!.Something();
    }


} 