@page "/"
@using BlazorMovies.Client.Helpers;
@inject IRepository repository

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies">
        <NullTemplate>
            <span style="color: red">This is loading ...</span>
        </NullTemplate>
        <EmptyTemplate>
            <span style="color: blue">No Record to see ...</span>
        </EmptyTemplate>
    </MoviesList>
</div>

@code {
    private List<Movie>? movies = new();

    private Dictionary<string, object> dummyTextboxParameter = new()
    {
        {"placeholder", "new movie from var"},
        {"disabled", "true"},
    };

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(TimeSpan.FromSeconds(3));
        //movies = new()
        //{
        //    new Movie { Title = "moana", ReleaseDate = new DateTime(2016, 11, 23) },
        //    new Movie { Title  = "inception", ReleaseDate  = new DateTime(2010, 07, 16) },
        //    new Movie { Title  = "spider-man: far from home", ReleaseDate  = new DateTime(2019, 7, 2)}
        //};
        movies = repository.GetMovies();
    }


} 