@*<input type="checkbox" @bind="displayButtons" />*@

@*<GenericList List="Movies">
    <ElementTemplate Context="movie">
        <IndividualMovie Movie="movie" DisplayButtons="displayButtons"
                         DeleteMovie="DeleteMovie" />
    </ElementTemplate>
</GenericList>*@

@if (Movies is null)
{
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" />
}
else if (Movies?.Count == 0)
{
    <h3>There are no records to show ...</h3>
}
else
{
    <input type="checkbox" @bind="displayButtons" />

    <div>
        @foreach (var movie in Movies!)
        {
            <IndividualMovie Movie="movie" DisplayButtons="displayButtons" />
        }
    </div>
}

@code {
    [Parameter] public List<Movie>? Movies { get; set; }
    //public List<Movie>? movies { get; set; }

    bool displayButtons = true;

    //Movie movieToBeDeleted;
    //private async Task DeleteMovie(Movie movie)
    //{
    //    Movies.Remove(movie);
    //}


    //protected override void OnInitialized()
    //{
    //    Console.WriteLine("OnInitialized. Movies.Count = " + Movies.Count.ToString());
    //}

    //protected override void OnParametersSet()
    //{
    //    Console.WriteLine("OnParametersSet. Movies.Count = " + Movies.Count.ToString());
    //}

    //protected override void OnAfterRender(bool firstRender)
    //{
    //    Console.WriteLine("OnAfterRender. FirstRender = " + firstRender.ToString());
    //}

    //protected override bool ShouldRender()
    //{
    //    return true;
    //}
}